body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: sans-serif;
}

.logo-container {
    text-align: center;
}

.logo {
    padding-top: 10px;
    animation: fadein 1.2s;
    width: 250px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    margin-bottom: 0px;
}

button {
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.time {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

th,
td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

#loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  color: #fff;
  font-size: 2em;
  text-align: center;
  line-height: 100vh;
  transition: 3s ease;
  z-index: 1000;
}

td {
    max-width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.provider {
    text-align: left;
}

a {
    color: #fff;
    text-decoration: none;
}

tbody tr {
    display: table-row;
}

tbody tr.hide {
    display: none;
}

.footer {
    padding: 5px;
    font-size: 11px;
    text-align: center;
  }

  .channel-icon {
    display: inline-block;
    max-height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: 5px;
  }

@media only screen and (max-width: 800px) {
    .logo {
        width: 120px;
    }
    
    .team-names span {
        display: block;
        margin-bottom: 10px;
    }

    th, td {
        font-size: 10.5px;
    }
    .channel-icon {
        max-height: 10px;
        margin-right: 2px;
      }

    /* Add responsive styles here */
    .time {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
    }

    #where-am-i, #start-date, #fetch-button {
        margin: 5px 0;
        font-size: 10px;
    }

    #data-table {
        margin: 0;
    }

    table {
        font-size: 8px;
    }

    th, td {
        padding: 5px;
    }
    .logo {
        width: 75px;
    }
}
